.vscode/
SpaceGame.slnx/
Assets/Materials/
Assets/Prefabs/
Assets/Scenes/
Assets/Sprites/
Assets/InputSystem_Actions.inputactions
Assets/TextMesh Pro/
Library/**/*
Temp/
UserSettings/
ProjectSettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.unity
*.slnx
*.tmp
*.bak
*.swp
*.log
*.meta
*.mat
.DS_Store
