.vscode/
SpaceGame.slnx/
Library/**/*
Temp/
UserSettings/
ProjectSettings/
*.csproj
*.hdr
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.prefab
*.inputactions
*.unity
*.slnx
*.tmp
*.bak
*.swp
*.log
*.meta
*.mat
*.asset
*.shader
.DS_Store
